:host
  .table
    display table
    border-spacing 0
    empty-cells show
    border 1px solid #cbcbcb

  .table-row
    display table-row

  .table-cell
    display table-cell

  .table caption
    color #000
    font italic 85%/1 arial, sans-serif
    padding 1em 0
    text-align center

  .table-cell
    border-left 1px solid #cbcbcb /*  inner column border */
    border-width 0 0 0 1px
    font-size inherit
    margin 0
    overflow visible  /*to make ths where the title is really long work*/
    padding 0.5em 1em  /* cell padding */

  /* Consider removing this next declaration block, as it causes problems when
  there's a rowspan on the first cell. Case added to the tests. issue#432 */
  .table-cell:first-child
    border-left-width 0

  .table-striped .table-row:nth-child(2n-1) .table-cell
    background-color #f2f2f2
