@require './_common'

:host
  #error-notification-pane
    z-index 30000
    position fixed
    top 0
    left 0
    width 100%
    padding 1.5rem
    border 1px solid #ebcccc
    background-color error-notification-background
    color error-notification-foreground

  #close-error-notification-pane
    float right
    font-size 1.5em
    cursor pointer
    color #3c3c3c

    &:hover
      color black
