@require '../_common'

:host
  padding-top main-top-padding

  #edit-group-pad
    rounded-corners()

    padding 36px
    border 1px solid border-color
    background-color #fbfbfb

    h1
      margin-top 0

  legend
    font-size 1.5rem
    margin-bottom 0.5em
    color #333

  label
    display block
    margin-bottom 0.5em

  #edit-group-form
    display grid
    grid-row-gap 1em
    grid-template-columns 50%
    grid-template-rows auto
    grid-template-areas \
      "name name" \
      "gitlab-group gitlab-group" \
      "description description"

  #edit-name
    grid-area name

  #edit-gitlab-group
    grid-area gitlab-group

  #edit-group-description-fieldset
    grid-area description

  #description-editor
    rounded-corners()

    width 100%
    height 200px
    background-color white
    border 1px solid #ccc
    padding 10px
    resize none

  hr
    margin 28px 0
    background-color border-color

  #form-buttons
    button + button
      margin-left 4px
