@require '../_common'

tab-content-padding = 36px

:host
  width 100%

  #left-column
    overflow-y hidden
    z-index 10
    background white
    position fixed
    top main-top-margin
    width 300px
    padding main-top-padding 36px

  #right-column
    width calc(100% - 300px)
    margin-left 300px

  #group-avatar
    border-radius 4px

  #group-names-container
    padding 16px 0

  #group-name
    font-size 26px
    font-weight 600
    line-height 30px

  #group-path
    font-size 20px
    font-weight 300
    line-height 24px

  .group-metadata
    padding-top .25rem

    &:first-child
      padding-top 0

  #social-gitlab
    .icon
      margin-right 0.25em

    a
      text-decoration none
      color black

  #breadcrumbs
    breadcrumbs()

  #top-section
    position sticky
    top main-top-margin
    padding-top main-top-padding
    z-index 10
    width 100%
    background-color white
    border-bottom 1px solid border-color

    hr
      background-color border-color
      margin 12px 0 0

  #top-section-inner
    display flex

  #group-info-tabs
    user-select none
    width 100%

    .tab
      padding 26px 16px
      border-bottom 2px solid transparent
      cursor pointer
      color #737373

      &.active
        color black
        border-bottom-color #0a83dc

  #group-info-tab-content
    border-radius 0 0 4px 4px

  .empty-group-tab
    padding tab-content-padding

  .group-member-container
    display flex
    padding tab-content-padding

    a
      text-decoration none
      color black

  .group-member-avatar-container
    margin-right 20px
    width 80px
    height 80px
    border-radius 4px

  .group-member-avatar
    width 100%
    border-radius 4px

  .group-member-name
    font-size 24px
    text-overflow ellipsis
    overflow hidden
    margin-bottom 8px

  #group-toolbar
    display flex
    margin-left auto
    padding 16px 0
    align-items center

    .button + .button
      margin-left 4px

  #group-upcoming
    ul
      unstyled-list()

  #group-past
    ul
      unstyled-list()

  .meets-for-date
    unstyled-list()

  .meet-date
    padding-left tab-content-padding
    padding-right tab-content-padding
    padding-top 20px
    padding-bottom 20px
    background-color #f1f1f1
    font-size 28px

  .meet-content
    padding tab-content-padding

    & > a
      text-decoration none
      color black

    div
      overflow hidden
      text-overflow ellipsis

  .meet-title
    font-size 28px
    margin-bottom 0.5em

  .meet-time
    font-size 24px
    margin-bottom 0.25em

  .meet-location
    font-size 24px
    margin-bottom 0.25em
