@require '../_common'
tab-content-padding = 36px

:host
  width 100%

  h1
    margin 0
    padding 12px 0

  hr
    background-color border-color
    margin 12px 0

  #top-section
    position sticky
    top main-top-margin
    padding-top main-top-padding
    z-index 10
    user-select none
    background white

    > ul
      padding 0
      margin 0
      display flex
      background white
      width 100%
      list-style none
      border-bottom 1px solid #eee

    .tab
      padding 0 16px 14px
      border-bottom 2px solid transparent
      cursor pointer
      color #737373

      &.active
        color black
        border-bottom-color #0a83dc

  #heading
    padding 0 0 0 0

  #home-tab-content
    border-radius 0 0 4px 4px
    border 1px solid #eee
    border-top-width 0

  .empty-tab-content
    padding tab-content-padding

  .group-container
    padding 0 36px

    a
      text-decoration none
      color black

    &:last-child
      .group-inner
        border-bottom 0

  .group-inner
    display flex
    padding 36px 0
    border-bottom 1px solid border-color

  .group-avatar-container
    margin-right 20px

  .group-name
    font-size 24px
    text-overflow ellipsis
    overflow hidden
    margin-bottom 8px

  .group-meta
    font-size 0.9em
    margin-top 8px

  #upcoming-meets
    ul
      unstyled-list()

  .meets-for-date
    unstyled-list()

  .meet-date
    padding-left tab-content-padding
    padding-right tab-content-padding
    padding-top 20px
    padding-bottom 20px
    background-color #f1f1f1
    font-size 28px

  .meet-content
    padding tab-content-padding

    & > a
      text-decoration none
      color black

    div
      overflow hidden
      text-overflow ellipsis

  .meet-title
    font-size 28px
    margin-bottom 0.5rem

  .meet-group
    font-size 22px
    margin-bottom 0.5rem
    text-transform uppercase

  .meet-time
    font-size 22px
    margin-bottom 0.5rem

  .meet-location
    margin-bottom 0.5rem
    display flex

  .meet-going
    display flex
    align-items center

  #attendance-controls
    margin-top 0.5rem

  .meta
    a
      text-decoration none
      color black

  .meta-icon
    margin-right 0.25em
