@require '../_common'
@require '../_tables'
@require '../_forms'
@require '../_misc'

action-color = black
action-hover-color = rgba(0, 0, 0, 0.6)

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family 'Proza Libre', sans-serif
  line-height 1.3

body
  background-color body-background
  color black

h1, h2, h3, h4
  montserrat-font()

hr
  border none
  height 1px
  background-color black

#app-container
  visibility visible

a.general-link
  color blue-color
  text-decoration none

  &:hover
    text-decoration underline

a.internal-link
  color black
  text-decoration none

  &:hover
    text-decoration underline

.muted
  color #737373

.smallish
  font-size 80%

.small
  font-size 11px

.pure-form
  legend
    display none

.pull-right
  float right

.button-group
  button + button
    margin-left 4px

button
  cursor pointer
  border-radius 2px
  border none transparent
  whitespace no-wrap
  padding 0.5em 1em
  color black
  background-color #e6e6e6
  display inline-block

  &:hover
    background-image linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
  &:active
    box-shadow 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset

  &[disabled]
    border none
    background-image none
    opacity .4
    cursor not-allowed
    box-shadow none
    pointer-events none

.button-primary
  color white
  background-color blue-color

  &:hover
    background-image linear-gradient(transparent,rgba(0, 0, 0, .05) 40%,rgba(0, 0 ,0, .1))
  &:active
    box-shadow 0 0 0 1px rgba(0, 0, 0, .25) inset, 0 0 6px rgba(0, 0, 0, .3) inset

.action
  color action-color
  text-decoration none

  &:hover
    color action-hover-color
    cursor pointer

.transparent-button
  border 0
  padding 0
  background white

  &:focus
    outline none

#error-notification-pane
  z-index 30000
  position fixed
  top 0
  left 0
  width 100%
  padding 1.5rem
  border 1px solid #ebcccc
  background-color error-notification-background
  color error-notification-foreground

#close-error-notification-pane
  float right
  font-size 1.5em
  cursor pointer
  color #3c3c3c

  &:hover
    color black

.clickable
  cursor pointer

  disable-user-select()

#vertical-menu
  @media screen and (min-width screen-md)
    display none

  ul
    margin 0
    padding 0
    list-style none

fieldset
  border none
  padding 0

.icon
  display inline-block
  width 1em
  height 1em
  stroke-width 0
  stroke currentColor
  fill currentColor

main#content
  margin-top main-top-margin
  position relative
  max-width 1170px
  margin-left auto
  margin-right auto
