@require '../_common'

menu-section()
  list-style none
  margin 0
  padding 0
  display flex

  li
    display inline-block

:host
  position fixed
  top 0
  left 0
  height 63px
  z-index 1000
  width 100%

  #menu-header
    background-color #272f32

  #menu
    display grid
    grid-template-columns auto 1fr auto
    align-items center

  .menu-heading
    justify-self start
    user-select none
    padding 0.75em 1em
    padding-left 0
    text-transform uppercase
    font-size 1.1rem

  #pages-menu-section
    menu-section()

    justify-self start

  .menu-item
    a
      font-size 1.1rem
      padding 0.75em 1em
      text-decoration none
      color white
      display inline-block

  .menu-item.selected
    a
      background-color #111
      box-shadow inset 0 3px 8px rgba(0,0,0,0.125)

  #account-icon
    padding-right 1em

    svg
      color white
      font-size 24px

  #account-menu-dropdown
    display none
    border 1px solid rgba(27,31,35,0.15)
    padding 6px 0
    background-color white
    background-clip padding-box
    margin-top -3px
    border-radius 3px
    box-shadow 0 3px 12px rgba(27,31,35,0.15)

  #account-menu-dropdown-header
    padding 8px 15px
    border-bottom 1px solid #dedede
    margin-bottom 8px

  .account-menu-dropdown-item
    padding 4px 15px
    display block
    text-decoration none
    color black

    &:hover
      background-color dropdown-focus-color
      color white
