@require '../_common'

:host
  padding-top main-top-padding

  #new-group-view
    rounded-corners()

    padding main-top-padding
    border 1px solid border-color
    padding 36px
    background-color #fbfbfb

    h1
      margin-top 0

  #new-group-form
    display grid
    grid-row-gap 1em
    grid-template-columns 50% 50%
    grid-template-rows auto
    grid-template-areas \
      "name name" \
      "path path" \
      "description description"

  #input-name
    grid-area name

  #input-path
    grid-area path

  #description-fieldset
    grid-area description

  #description-editor
    rounded-corners()

    padding 0.5em 0.6em
    width 100%
    height 100px
    border 1px solid border-color

  #add-group-buttons
    margin-top 2em
    display flex

    button
      &:first-child
        margin-left 0

      margin-left 4px

  legend
    font-size 1.5rem
    margin-bottom 0.5em
    color #333

  label
    display block
    margin-bottom 0.5em
