@require '../_common'

:host
  width 100%
  display flex

  #left-column
    background white
    width 300px
    padding main-top-padding 36px

  #right-column
    width 100%
    padding main-top-padding 36px
    padding-left 0

  #breadcrumbs
    breadcrumbs()

  #top-section
    hr
      background-color border-color
      margin 12px 0

  .settings-form
    display grid
    grid-row-gap 1em
    grid-template-columns 50%
    grid-template-rows auto

    label
      display block
      margin-bottom 0.5em

    input
      width 100%
      border 1px solid #ccc
      box-shadow inset 0 1px 3px #ddd

    textarea
      rounded-corners()

      width 100%
      border 1px solid #ccc
      box-shadow inset 0 1px 3px #ddd
      padding 10px
      resize none

  #public-profile-form
    grid-template-areas \
      "name ." \
      "bio ."

  #edit-name
    grid-area name

  #edit-bio
    grid-area bio

  #password-form
    grid-template-areas \
      "old-password ." \
      "new-password ." \
      "confirm-password ."

  #old-password
    grid-area old-password

  #new-password
    grid-area new-password

  #confirm-password
    grid-area confirm-password

  h2
    padding 0
    margin 0
    padding-bottom 0.5em
    margin-bottom 0.5em
    border-bottom 1px solid border-color

  #settings-tabs
    ul
      rounded-corners()

      list-style none
      border 1px solid border-color
      border-bottom 0
      padding 0
      margin 0

    li
      border-bottom 1px solid border-color
      border-left 2px solid transparent
      padding 16px 14px
      cursor pointer
      color muted

      &.active
        border-left 2px solid #0a83dc
        color black
