@require '../_common'

:host
  .spinner
    margin 100px auto
    margin-bottom 40px
    width 50px
    height 40px
    text-align center
    font-size 10px
    animation fadeIn 5s

    > div
      background-color blue-color
      height 100%
      width 6px
      margin-right 2px
      display inline-block
      -webkit-animation sk-stretchdelay 1.2s infinite ease-in-out
      animation sk-stretchdelay 1.2s infinite ease-in-out

    .rect2
      -webkit-animation-delay -1.1s
      animation-delay -1.1s

    .rect3
      -webkit-animation-delay -1.0s
      animation-delay -1.0s

    .rect4
      -webkit-animation-delay -0.9s
      animation-delay -0.9s

    .rect5
      -webkit-animation-delay -0.8s
      animation-delay -0.8s

  @-webkit-keyframes sk-stretchdelay
    0%, 40%, 100%
      -webkit-transform scaleY(0.4)
    20%
      -webkit-transform scaleY(1.0)

  @keyframes sk-stretchdelay
    0%, 40%, 100%
      transform scaleY(0.4)
      -webkit-transform scaleY(0.4)
    20%
      transform scaleY(1.0)
      -webkit-transform scaleY(1.0)

  @keyframes fadeIn
    from
      opacity 0
    to
      opacity 1

  #loading-status
    text-align center
