@require '../_common'

border-color = #C1C1C1

:host
  .Modal__Overlay
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(255, 255, 255, 0.75)
    z-index 10000

  .Modal__Content
    @media screen and (min-width: 600px)
      rounded-corners()

      width 600px

    background #fff
    overflow auto
    outline none

    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    margin 0
    width 100%
    padding 0

  .modal-header
    background menu-background
    color white
    border-bottom 1px solid border-color
    box-sizing border-box

    .modal-header-content
      display flex
      padding 15px
      font-size 20px

    .modal-label
      margin auto

    .close
      margin-right 10px
      color #dedede

      &:hover
        color white

  .modal-body
    border 1px solid border-color
    border-top 0
    border-bottom-left-radius 4px
    border-bottom-right-radius 4px

    .modal-body-content
      padding 15px

    .button-group
      border-top 1px solid border-color
      padding 15px

    fieldset
      border 0
      padding 0

  button.close
    border 0
    background 0 0
    padding 0

    &:active,&:focus
      outline none

  .modal-input, .modal-select
    width 100%
